.img-fluid {
    max-width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: left;

}
.img-fluid-right{
    max-width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: right;

}
/* BADGES */
.badge-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.badge-group {
    display: flex;
    gap: 0.5rem;
}

.badge {
    font-size: 0.75rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25rem;
}
@media (max-width: 768px) {

    .d-flex {
        display: flex !important;
        flex-direction: column;
        padding-bottom: 20px;
    }
}