doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CV - Thomas Guibert - Portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-3.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Curriculum vitæ
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Professional Skills
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Management
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web Development
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Event Planning
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Communication
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Game Development
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 User Interface Design
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 PHP 8/Symfony 7
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 SQL ORACLE
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C/C#
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 VueJS
                        // Divider
                        .pb-5
                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Expérience Professionnelle
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                //a.btn.btn-primary.px-4.py-3(href='assets/CV_Thomas_Guibert.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Télécharger le CV

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 09.2023 - 08.2025
                                                .small.fw-bolder Alternance Web Developper
                                                .small.text-muted COSI UTT
                                                .small.text-muted Troyes, 10000
                                        .col-lg-8
                                            div Alternant au sein du Centre Opérationnel du Système d'Information de l'Université de Technologie de Troyes, j'ai pu mettre en pratique mes compétences en développement web, travail en équipe et gestion de projet. Mes principaux projets étaient en Php 8 Symfony 7 avec des bases de données SQL.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 02.2022 - 07.2022
                                                .small.fw-bolder Entreprise Etudiante
                                                .small.text-muted 1 Artisan 1 Site
                                                .small.text-muted Troyes, 10000
                                        .col-lg-8
                                            div Création de sites vitrines pour des artisans. J'ai pu mettre en pratique mes compétences en développement web et en gestion de projet pour ce premier projet professionnel débuté avec 2 autres étudiants
                        // Experience Asso Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Experiences Associatives
                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 06.2024 - 11.2024
                                                .small.fw-bolder Coordinateur événements
                                                .small.text-muted FEDERATION DES ETUDIANTS TROYENS
                                                .small.text-muted Troyes, 10000
                                        .col-lg-8
                                            div Coordinateur de la Nuit Campus 3. Organisation de la plus grande soirée électronique en intérieur du Grand Est, 3500 festivaliers en 2024. Coordination de 50 organisateurs bénévoles pendant 5 mois ( dont 12 directement )
                                            ul
                                                li   Création et  gestion du plan de communication :
                                                ul
                                                    li Evolution des canaux de communication pour mieux s'adapter aux consommations des étudiants
                                                li   Gestion de l'équipe de graphiste pour faire évoluer la charte graphique et adapter les designs aux nouveaux canaux de communication
                                                li   Recherche de partenaires et gestion de l'espace VIP
                                                li   Gestion de l'équipe de prévention pour prévenir des risques de l'Alcool / Drogue / Violences Sexuelles et Sexistes)
                                            p   Coordination de plus de 250 personnes sur la soirée (bénévoles, organisateurs, prestataires, équipe de sécurité, etc )
                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 05.2024 - 05.2025
                                                .small.fw-bolder Responsable évènements
                                                .small.text-muted BDE MMI IUT
                                                .small.text-muted Troyes, 10000
                                        .col-lg-8
                                            div Responsable évènements BDE MMI IUT TROYES.
                                            ul
                                                li Organisation d'une intégration pour les nouveaux MMI
                                                li Gestion de la securité lors des évènements
                                                li Gestion de la prévention des risques lors des soirées
                                                li Préparation d'un Gala de SAE
                        // Experience Card 1
                        .card.shadow.border-0.rounded-4.mb-5
                            .card-body.p-5
                                .row.align-items-center.gx-5
                                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-light.p-4.rounded-4
                                            .text-primary.fw-bolder.mb-2 12.2023 - 06.2024
                                            .small.fw-bolder Coordinateur événements
                                            .small.text-muted BDE UTT
                                            .small.text-muted Troyes, 10000
                                    .col-lg-8
                                        div Coordinateur de Cassiopée Festival UTT. Organisation du plus grand festival UTTien pouvant accueillir jusqu'à 3000 festivaliers. Coordination d'une équipe de 60 organisateurs bénévoles ( dont 15 directement )
                                        ul
                                            li  Création de dispositif de prévention contre Alcool / Drogue / Violence Sexuel et Sexiste
                                            li Gestion de l'equipe IT
                                            ul
                                                li  Création d'un site web en VueJS
                                                li  Evolution du système de caméra vidéo surveillance pendant le festival
                                            li  Gestion de la restauration et du bar :
                                            ul
                                                li  Recherche et négociation avec les 4 partenaires de food truck et les 3 fournisseurs de boisson
                                                li  Mise en place de 4 bars associatifs

                                        p Gestion de plus de 200 personnes sur le festival ( bénévoles, prestataires, équipe de sécurité, etc)

                        // Experience Card 1
                        .card.shadow.border-0.rounded-4.mb-5
                            .card-body.p-5
                                .row.align-items-center.gx-5
                                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-light.p-4.rounded-4
                                            .text-primary.fw-bolder.mb-2 09.2023 - 12.2023
                                            .small.fw-bolder Coordinateur Soirée de Gala
                                            .small.text-muted BDE UTT
                                            .small.text-muted Troyes, 10000
                                    .col-lg-8
                                        div Coordinateur de la R2D : Soirée de Gala. Organisation de la soirée de remise des diplômes de l'UTT ayant accueilli 1200 personnes. Coordination d'une équipe de 20 organisateurs bénévoles ( dont 5 directement )
                                        ul
                                            li Recherche et obtention de partenaires pour financer la soirée
                                            li Création de la direction artistique et de la décoration
                                            li  Gestion de la restauration et du bar :
                                            ul
                                                li  Recherche et négociation avec le food truck, le fournisseur de boisson et le vigneron de champagne
                                                li  Création d'un cocktail dinatoire pour 200 personnes

                        //
                        .card.shadow.border-0.rounded-4.mb-5
                            .card-body.p-5
                                .row.align-items-center.gx-5
                                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-light.p-4.rounded-4
                                            .text-primary.fw-bolder.mb-2 01.2023 - 06.2023
                                            .small.fw-bolder Responsable événements
                                            .small.text-muted Argentique UTT
                                            .small.text-muted Troyes, 10000
                                    .col-lg-8
                                        div Responsable évènements Argentique UTT :
                                        ul
                                            li Organiser des couvertures photos d'évènements étudiants
                                            li Gérer la communication des projets
                                            li Gérer des équipes de photographes
                                            li Création d'un livre de recette
                        //
                        .card.shadow.border-0.rounded-4.mb-5
                            .card-body.p-5
                                .row.align-items-center.gx-5
                                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-light.p-4.rounded-4
                                            .text-primary.fw-bolder.mb-2 02.2022 - 06.2022
                                            .small.fw-bolder Animateur d'atelier
                                            .small.text-muted Cordée de la réussite
                                            .small.text-muted Troyes, 10000
                                    .col-lg-8
                                        div Animateur d'atelier à la cordée de la réussite UTT à des collégiens.
                                        ul
                                            li Création d'ateliers de découverte de la photographie
                                            li Animation d'une classe de 15 collégiens
                                            li Vulgarisation de connaissances complexes

                        //
                        .card.shadow.border-0.rounded-4.mb-5
                            .card-body.p-5
                                .row.align-items-center.gx-5
                                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-light.p-4.rounded-4
                                            .text-primary.fw-bolder.mb-2 10.2021 - 12.2022
                                            .small.fw-bolder Vice Président
                                            .small.text-muted Bluff' UTT
                                            .small.text-muted Troyes, 10000
                                    .col-lg-8
                                        div Co-Création du club de Poker de l'UTT :
                                        ul
                                            li Organisation d'évènements/soirées poker (sans argent réel)
                                            li Prévention des risques sur les jeux


                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Education
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2023 - 2025
                                                .mb-2
                                                    .small.fw-bolder IUT Troyes
                                                    .small.text-muted Troyes, 10000
                                                .fst-italic
                                                    .small.text-muted BUT MMI
                                                    .small.text-muted Developpement Web
                                        .col-lg-8
                                            div Après deux ans de classe préparatoire intégrée au sein de l’Université de Technologie de Troyes, j’ai été conforté dans mon souhait de vouloir travailler  dans l’informatique. C’est pourquoi, j’ai rejoint l’IUT de Troyes en MMI parcours développement en alternance. Alternance que je réalise dans le département informatique de l’UTT.

                            // Education Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2021 - 2023
                                                .mb-2
                                                    .small.fw-bolder UTT
                                                    .small.text-muted Troyes, 10000
                                                .fst-italic
                                                    .small.text-muted Ingénieur
                                                    .small.text-muted Tronc commun
                                        .col-lg-8
                                            div Après un Bac Général Maths Physique Science de l'Ingénieur obtenue avec mention très bien, j'ai intégré l'Université de Technologie de Troyes en classe préparatoire intégrée. J'ai pu découvrir les bases de l'informatique, de l'électronique, de la mécanique et de la chimie. J'ai pu également découvrir les bases de la gestion de projet et du travail en équipe. Mais la formation de tronc commun n'était pas assez poussée en informatique selon moi, c'est pourquoi j'ai décidé de me spécialiser en développement web.

                        // Divider
                        .pb-5

        // Footer
        include includes/footer.pug

        include includes/scripts.pug